<link rel='stylesheet' href='/stylesheets/style404.css' />
<div>
    <center>
        <h1>{{message}}</h1>
        <h2>{{error.status}}</h2>
        <pre>Have patience, come back later.</pre>
        <footer>UTFPR</footer>
    </center>
</div>